body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-top: 0px;
  width: 100%;
}
.top {
  margin: auto;
  padding: 0% 55px;
  width: 1219px;
  box-sizing: border-box;
}
header{
  background: #007765;
  position: fixed;
  height: 84px;
  width: 100%;
}
.logo {
  display: inline-block;
  width: fit-content;
 }
nav,
nav a {
  color: aliceblue;
  font-weight: 500;
  font-size: 24px;  
}
nav {
  width: fit-content;
  display: inline-block;
  margin-top: 25px;
  float: right;
  }
.navigation {
  text-align: center;
  margin: auto 8px;
  text-decoration: none;
}
#the_problem:target { 
  scroll-margin-top: 85px 
} 
#piper_coin:target { 
  scroll-margin-top: 85px 
} 
#the_team:target { 
  scroll-margin-top: 85px 
} 
.braker {
  height: 84px;
}
main {
  width: 100%;
}
.Jumbotron {
  background: url(images/greenGeotop.svg);
  background-size: cover;
  width: 100%;
}
.PiperNet {
  padding: 160px 0px;
  text-align: center;
  color: aliceblue;
  font-size: 72px;
  margin: auto;
  width: 1219px;
  box-sizing: border-box;
}
.dib  {
  float: left;
  display: inline-block;
  }
h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  text-align: center;

  color: #007765;
}
.cool {
  background: url(images/BlueGeo.svg);
  background-size: cover;
}
.hero {
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  padding: 128px 163px;
  color: #ffffff;
  margin: auto;
  width: 1219px;
  box-sizing: border-box;
}
.maintext {
  font-size: 32px;
  color: #000000;
  line-height: 37px;
}
.team{
  display: flex;
  flex-wrap: wrap;
  width: 100%;  
  justify-content: space-between;
  margin-bottom: 50px;
}
figure.port figcaption {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
figure.port {
  text-align: center;
  flex-basis: 33%;
  box-sizing: border-box;
  margin: 0%;
  }
figure.port img{
  width: 168px;
}
h3 {
  margin: 0%;
  color: #007765;
  font-weight: bold;
  font-size: 24px;
}
footer {
  width: 100%;  
  height: 176px;
  background: #333333;}
.footertext{
  color: white;
  text-align: center;
  padding: 48px 340px 68px 339px;
  font-size: 18px;  
}
.role{
  font-size: 24px;
  color: #000000;
  line-height: 37px;
}
